Desarrollo de Interfaces/Restaurante.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Primero"></xs:element>
                <xs:element name="Segundo"></xs:element>
                <xs:element name="Tercero"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>